/* Global body style */
body {
 color: #484848;
 font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Global Container style */
.container {
 margin: 30px auto;
 max-width: 1000px;
}
/* Strong style */
strong {
 font-weight: bold;
}
