/* Filters style */
.filters {
 background-color: #FFFFFF;
 border: 1px solid #DDDDDD;
 border-radius: 4px;
 height: 70px;
 width: 100%;
}
/* Search button style */
.filters button {
 background-color: #FF5A5F;
 border: none;
 border-radius: 4px;
 color: #FFFFFF;
 float: right;
 font-size: 18px;
 height: 48px;
 margin: 12px 30px;
 width: 20%;
}
/* Search button hover opacity */
.filters button:hover {
 background-color: rgba(255, 90, 95, .9);
}
